{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Registrar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'css/Style.css' %}">
  <link rel="icon" href="{% static 'img/image-modified.png' %}">
</head>
{% load crispy_forms_tags %}

<body>
  <header>
    <h2 id="titulo">LuPa</h2>
  </header>

  <nav class="opciones">
    {% if request.session.usuario %}
        <a href="{% url 'prueba' %}">Inicio</a>
        <a href="{% url 'prueba' %}">Juegos</a>
        <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
        <a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Registrar</a>
        <a href="{% url 'prueba' %}">Inicio</a>
        <a href="{% url 'prueba' %}">Juegos</a>
        <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
    {% endif %}
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="loginp">
          <div class="wrapper">
            <h2 style="text-align: center;">Registrar Usuario</h2>
            <hr>
            <form action="" method="post" enctype="multipart/form-data" id="UsuarioCreacionForm">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="row">
                <div class="col-6">
                  <div class="d-flex justify-content-start">
                    <a href="{% url 'nosotros' %}" class="btn btn-info">Volver</a>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex justify-content-end">
                    <input type="reset" value="Limpiar" class="btn btn-warning">
                    &nbsp;
                    <input type="submit" value="Registrar" class="btn btn-primary">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  <footer>
    <div class="footer-container">
      <p class="footer">Información de contacto</p>
      <div class="socials-and-image">
        <ul class="socials">
          <li><a href="https://github.com/scruffycookie/Prueba-1-"><i class="fa fa-github"></i></a></li>
          <li><a href="https://cl.linkedin.com/company/video-games-chile"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="https://www.instagram.com/pxshoo/"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="image-container">
          <img src="{% static 'img/image-modified.png' %}" alt="about image" class="about__img">
        </div>
      </div>
      <div class="footer-copyright">
        <p class="footer__l">Copyright &copy; 2024 <br> Bringing your dreams to reality.</p>
      </div>
    </div>
  </footer>
  <script src="{% static 'js/register.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
      const UsuarioCreacionForm = document.getElementById("UsuarioCreacionForm");
      UsuarioCreacionForm.addEventListener("submit", function (event) {
          event.preventDefault();
          var formData = new FormData(UsuarioCreacionForm);
          fetch(UsuarioCreacionForm.action, {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              const Toast = Swal.mixin({
                  toast: true,
                  position: "top-end",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                      toast.onmouseenter = Swal.stopTimer;
                      toast.onmouseleave = Swal.resumeTimer;
                  }
              });

              if (data.success) {
                  Toast.fire({
                      icon: "success",
                      title: "El usuario ha sido creado"
                  }).then(() => {
                      window.location.href = "/login/";
                  });
              } else {
                  const firstError = Object.keys(data.error)[0];
                  const errorMessage = `${firstError.charAt(0).toUpperCase() + firstError.slice(1)}: ${data.error[firstError]}`;
                  Toast.fire({
                      icon: "error",
                      title: "Hubo un error al crear al usuario",
                      text: errorMessage,
                  });
              }
          });
      });
  </script>
</body>

</html>
